name: .NET CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore
      working-directory: ./Contatos.API/

    - name: Build
      run: dotnet build
      working-directory: ./Contatos.API/

    - name: Unit Test - Contatos.API.Tests
      run: dotnet test ./Contatos.API.Tests/Contatos.API.Tests.csproj --no-build --verbosity normal
      working-directory: ./Contatos.Tests/

    - name: Unit Test - Contatos.API.Unit.Tests
      run: dotnet test ./Contatos.API.Unit.Tests/Contatos.API.Unit.Tests.csproj --no-build --verbosity normal
      working-directory: ./Contatos.Tests/

    - name: Integration Test
      run: dotnet test --no-build --verbosity normal
      working-directory: ./Contatos.Integration.Tests/
